body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #a62929; /* WKU Red */
    color: white;
    padding: 1em;
    text-align: center;
}
nav {
    background-color: #333;
    color: white;
    padding: 0.5em;
    text-align: center;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
}
.container {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.search-bar {
    margin-bottom: 20px;
}
.button {
    background-color: #a62929;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}
.on-call-indicator {
    background-color: lightblue;
    padding: 10px;
    margin-top: 10px;
}
/* Style The Dropdown Button */
.dropbtn {
    background-color: #a62929;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
}

details {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}

summary {
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
    background-color: #f0f0f0;
}

summary:focus {
    outline: none;
}
