body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #a62929;
    /* WKU Red */
    color: white;
    padding: 1em;
    text-align: center;
}

nav {
    background-color: #333;
    color: white;
    padding: 0.5em;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.button {
    background-color: #a62929;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

h2 {
    color: #a62929;
    /* WKU Red */
}

.on-call-indicator {
    background-color: lightblue;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    /* Add space below the box */
    border-radius: 5px;
    /* Rounded corners */
}

.footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.wku-logo {
    height: 50px;
    margin-right: 10px;
}

#profile-image {
    max-width: 300px;
    border-radius: 5%;
    margin: 0 auto;
    display: block;
}

#about-me-info {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

#phoneNumIndent {
    padding-left: 20px;
}

#halfSpread {
    width: 50%;
}

/* Style for <details> dropdowns */
details {
    padding: 5px;
    width: 450px;
    /* Adjust width to fit content */
    max-width: 100%;
    /* Prevent overflow */
}

details summary {
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
    background-color: #e0e0e0;
    /* Light gray background */
    border-radius: 5px;
    /* Match outer border radius */
    border: 1px solid #ccc;
}

details[open] summary {
    background-color: #d6d6d6;
    /* Slightly darker when open */
}

/* Optional hover effect for details summary */
details summary:hover {
    background-color: #ccc;
    /* Slightly darker on hover */
}